<script>
  $(".GithubLink").click(function () {
    window.open("https://github.com/GranquistR", "_blank");
  });
  $(".LinkedInLink").click(function () {
    window.open(
      "https://www.linkedin.com/in/ryan-granquist-3767a3213/",
      "_blank"
    );
  });
  $(".HandShakeLink").click(function () {
    window.open(
      "https://uwstout.joinhandshake.com/stu/users/34912677",
      "_blank"
    );
  });

  $(".contactme button").click(function () {
    var name = $(".contactme input[name='Name']").val();
    var subject = $(".contactme input[name='Email']").val();
    var message = $(".contactme textarea[name='Message']").val();

    if (name == "" || subject == "" || message == "") {
      alert("Please fill out all fields");
    } else {
      //replaces spaces with %20
      formattedName = name.replace(/ /g, "%20");
      formattedMessage = message.replace(/ /g, "%20");
      formattedMessage = formattedMessage.replace(/\n/g, "%0A");
      formattedSubject = subject.replace(/ /g, "%20");
      window.location.href =
        "mailto:granquistr7820@my.uwstout.edu?subject=" +
        formattedSubject +
        "&body=" +
        "Hello there,%0A%0A" +
        formattedMessage +
        "%0A%0AThanks, %0A" +
        formattedName +
        ".";
    }
  });
</script>

<div class="contactme">
  <div class="flex">
    <div class="container">
      <h4>
        <code>Contact Me By Email</code>
      </h4>
      * Prefills an emails in your default email client *
      <div class="form">
        Name
        <input type="text" name="Name" />
        Subject
        <input type="text" name="Email" />
        Message
        <textarea type="text" name="Message"></textarea>
        <button>Send</button>
      </div>
    </div>
    <div class="container">
      <div class="links">
        <h4>
          <code>My Socials</code>
        </h4>
        Take a look and see what I've been up to!
        <div class="lineSpacer"></div>
        <div class="GithubLink link">
          <img
            src="/Icons/github-icon.png"
            alt="Github Link"
            width="50px"
            class="icon"
          />
          Github
        </div>
        <div class="LinkedInLink link">
          <img
            src="/Icons/linkedin-icon.png"
            alt="Linkedin Link"
            width="50px"
            class="icon"
          />
          LinkedIn
        </div>
        <div class="HandShakeLink link">
          <img
            src="/Icons/handshake-logo.png"
            alt="HandShake Link"
            width="50px"
            class="icon"
          />
          HandShake
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .contactme .link:hover {
    background-color: #2c333c;
    cursor: pointer;
  }

  .contactme .link {
    padding-right: 10px;
    border-radius: 5px;
  }

  .contactme button {
    background-color: #2c333c;
    border: none;
    color: white;
    margin-top: 20px;
    width: 200px;
  }

  .contactme button:hover {
    background-color: #555f6c;
    cursor: pointer;
  }

  .contactme textarea {
    background-color: #2c333c;
    border: none;
    color: white;
  }
  .contactme input {
    background-color: #2c333c;
    border: none;
    color: white;
  }
  .contactme .form {
    display: flex;
    flex-direction: column;
  }
  .contactme .lineSpacer {
    width: 400px;
    height: 1px;
    margin: 20px;
    background-color: #2c333c;
  }

  .contactme .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contactme .icon {
    border-radius: 5px;
    padding: 7px;
  }

  .contactme .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .contactme .container {
    margin: 10px;
    background-color: red;
    width: 500px;
    background-color: #161b22;
    border-radius: 5px;
    padding: 10px;
  }
</style>
