<script></script>
<div class="home">
  <div class="background">
    <!-- nonsense code that looks cool -->
    console.log("Hello,&nbspWorld!");&nbspif(result.status)const&nbspdata&nbsp=&nbspformat(result.data);console.debug("data:"&nbspdata);return&nbspdata;else&nbspreturn&nbspformat(result.data)
  </div>
  <div class="spacer"></div>
  <div class="landing">
    <code>Hello, World!</code>
    <h1>I am Ryan Granquist</h1>
    <p class="subtext">
      I write code as a career and a hobby. Use the header bar to navigate the
      page and view what I have been up to.
    </p>
  </div>
  <div class="spacer"></div>
  <div class="imageSlideshowContainer">
    <script src="/Scripts/imageScroll.js"></script>
    <script>
      BeginScroll();
    </script>
    <div id="imageScroll"></div>
  </div>
</div>

<style>
  
  .home .spacer {
    height: 200px;
  }
  .home .images {
    position: absolute;
  }
  .home .imageSlideshowContainer {
    position: relative;
    top: 85%;
    height: 400px;
    background-color: #161b22;
    z-index: 1;
    overflow:hidden;
    width: 100%;
  }
.home .imageScroll{
  width: 100%;
  overflow: hidden;
  height: 100%;
}

  .home .landing {
    position: relative;
    max-width: 600px;
    margin-left: 5vh;
    z-index: 110;
  }
  .home .subtext {
    color: gray;
    font-size: 12pt;
  }
  .home .background {
    line-height: 130%;
    top:100px;
    position: absolute;
    font-size: 100pt;
    word-wrap:break-word;
    overflow: hidden;
    max-width: 100%;
    color: #12171f;
    max-height: 100vh;
    z-index: 0;
  }
  .home{
    display: flex;
    flex-direction: column;
  }
</style>
