<div class="personalProjects">
    <h2>
        <code>Personal Projects</code>
    </h2>
    <h4>Tiny Blocks</h3>
        Tiny Blocks is a game I made in Visual Studio using the C# windows form template. The game consists of a three-dimensional isometric grid of blocks that the player can create and destroy to their hearts desire. On the coding side of the project, the game uses occlusion culling to only draw visible blocks allowing for large max grid sizes while keeping a smooth frame rate.
    </div>
