<div class="personalProjects">
    <h2>
        <code>Personal Projects</code>
    </h2>
    <h4>Tiny Blocks</h3>
        Tiny Blocks is a game I made in Visual Studio using the C# windows form template. The game consists of a three-dimensional isometric grid of blocks where the player can create and destroy to their hearts desire. The game uses low density bitmaps and occlusion culling to limit the amount of drawing done on the screen which allows for large max grid sizes while keeping a smooth frame rate.
    </div>
