<script>
  function topFunction() {
    window.location.href = "?";
  }
  $(".toTop").click(function () {
    topFunction();
  });
</script>
<div class="footer">
  <span class="left">Made by Ryan Granquist.</span>
  <div class="right toTop">Back to home</div>
</div>
<style>
  .footer {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    background-color: #161b22;
    z-index: 1;
    color: gray;
    position: fixed;
    bottom: 0;
  }
  .footer .right {
    float: right;
  }
  .footer a {
    color: gray;
    font-style: normal;
  }
</style>
