<script></script>
<div class="header">
  <!-- header bar -->
  <div class="row">
    <div class="col">
      <div class="row">My Portfolio</div>
      <div class="row title">Ryan Granquist</div>
    </div>
    <div class="col link">Home</div>
    <div class="col link">Personal Projects</div>
    <div class="col link">Work History</div>
    <div class="col link">Contact Me</div>
  </div>
</div>
<style>
  .header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #323232;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 30px;
  }

  .header .title {
    font-size: 30px;
    font-weight: bold;
  }

  .header .link {
    background-color: #323232;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    padding: 10px;
    margin: 5px;
    height: 45px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    justify-content: center;
  }
</style>
